<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Conversor</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="container">

        <h1>Conversor</h1>

        <p>Escolha o que você deseja converter:</p>

        <a href="./moedas.html" class="botao">
            💰 Moedas
        </a>

        <button class="botao desativado">
            🌡️ Temperatura
        </button>

        <button class="botao desativado">
            📏 Comprimento
        </button>

    </div>

</body>

</html>